name: CI Docker Compose

on:
  push:

jobs:
  compose-build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4


      - name: Construir servicios con Compose
        run: docker compose build
