name: CI Vlidacion basica

on:
  push:

jobs:
  validar:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v4


      - name: Ejecutar validacion
        run: ./scripts/validar.sh
